<h3>{{title}}</h3>
<!-- Copied from https://www.w3schools.com/howto/howto_css_responsive_header.asp -->
<div class="header">
  <a href="#default" class="logo">CompanyLogo</a>
  <div class="header-right">
    <a class="active" href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contacts">Contact</a>
  </div>
</div>