<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">ShopId</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shopItem of shopItems">
        <td >{{shopItem.id}}</td>
        <td>{{shopItem.name}}</td>
        <td>{{shopItem.price | currency:'EUR'}}</td>
        <td>{{shopItem.shopId}}</td>
        <td>
          <div class="divider">
            <!-- <button (click)="displayEdit(shopItem)" class="btn btn-secondary">Edit</button> -->
            <button (click)="removeShopItem(shopItem.id)" class="btn btn-danger">Remove</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
